.dashboard {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  height: 100%;
}